# Backend Configuration
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/
DB_NAME=keystroker_auth

# Frontend Configuration
REACT_APP_BACKEND_URL=http://localhost:8000

# ML Pipeline
ML_MODELS_PATH=./models/

# For Production
NODE_ENV=production
